@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
	font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: inherit;
}

a {
    text-decoration: none;
    color: salmon;
}

a:hover {
    color: tomato;
}

body {
    background-color: #F2F2F2;
    color: #252525;
    min-height: 100vh;
}

.container {
	padding: 24px 16px;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    gap: 32px;
}

.head {
    text-align: center;
}

.button-container {
    display: flex;
    flex-flow: row wrap;
    gap:16px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 4px 8px;
    background-color: #333333;
    color: #F2F2F2;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #222222;
}

.lift-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    border: 1px solid #222222;
    padding:16px;
    overflow-x: auto;
}

.floor-container {
    display: flex;
    flex-flow: row nowrap;
    gap:32px;
    padding:16px;
    border: 2px solid #222222;
}

.floor-buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    flex-shrink: 0;
}

.floor-lift-container {
    height: 120px;
    display: flex;
    gap:16px;
    width: 100%;
    position: relative;
}

.lift {
    flex-shrink: 0;
    height: 120px;
    width: 80px;
    background-color: #ccc;
    position: relative;
    display: flex;
    overflow: hidden;
    top: 0px;
    transition: all 2s ease-in-out;
}

.floor-container:first-child .floor-buttons {
    justify-content: flex-end;
}


.lift-left {
    position: absolute;
    width: 50%;
    background-color: #222222;
    content:'';
    height: 100%;
    border: 1px solid salmon;
    transform: translateX(0);
}

.lift-right {
    left: 50%;
    position: absolute;
    width: 50%;
    background-color: #222222;
    content:'';
    height: 100%;
    border: 1px solid salmon;  
    transform: translateX(0);
}

.lift.open .lift-right {
    transform: translateX(200%);
    transition: 2.5s ease-in-out;
}

.lift.close .lift-left, .lift.close .lift-right {
    transform: translateX(0);
    transition: 2.5s ease-in-out;
}

.lift.open .lift-left {
    transform: translateX(-200%);
    transition: 2.5s ease-in-out;
}

.floor-container:last-child .floor-buttons {
    justify-content: flex-start;
}


footer {
    position: sticky;
    bottom: 0;
    top: 100%;
    width: 100%;
    height: 80px;
    color: #F2F2F2;
    text-align: center;
    background-color: #222222;
}

footer .container {
    gap: 10px;
    justify-content: center;
    height: 100%;
    padding: 12px;
    font-size: 15px;
}